.graph-viewport{
    width: 100%;
    height: 100%;
}

.nodeRepresentation{
    padding: 2px 5px;
}

.nodeRepresentation h1{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    white-space: nowrap;
}

.nodeRepresentation .left{
    float: left;
}

.nodeRepresentation .right{
    float: right;
    text-align: right;
    width: 20px;
}

.nodeRepresentation .icon{

}

.nodeRepresentation .icon img{
    width: 40px;
}

.nodeRepresentation .state {
    font-size: 12px;
}

.nodeRepresentation .actions{
    font-size: 7px;
}
.node.DOWN rect, .node.UNACCEPTABLE rect{
    stroke: #A4011B;
}

.node.DEGRADED rect{
    stroke: #CF5300;
}

.node.ATRISK rect{
    stroke: #FCD116;
}

.node .state svg{
    stroke-width: 1;
    stroke: black;
}

.node.UP .state svg{
    fill: green;
}

.node.DOWN .state svg, .node.UNACCEPTABLE .state svg{
    fill: #A4011B;
}

.node.DEGRADED .state svg{
    fill: #CF5300;
}

.node.ATRISK .state svg{
    fill: #FCD116;
}