.graph-viewport{
    width: 100%;
    height: 100%;
}

.nodeRepresentation{
    padding: 2px 5px;
}

.nodeRepresentation h1{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nodeRepresentation .left{
    float: left;
}

.nodeRepresentation .right{
    float: right;
    text-align: right;
    width: 30px;
}

.nodeRepresentation .icon{

}

.nodeRepresentation .icon img{
    width: 40px;
}

.nodeRepresentation .state {
    margin-top: 3px;
    background: #EEE url("/stateSprite.png") no-repeat;
    background-size: cover;
    height: 30px;
    width: 29px;
    font-size: 12px;
}

.node{
    fill: #CCC;
}

.node[state=DOWN] rect, .node[state=UNACCEPTABLE] rect{
    stroke: #A4011B;
}

.node[state=DEGRADED] rect{
    stroke: #CF5300;
}

.node[state=ATRISK] rect{
    stroke: #FCD116;
}

.node[state=UP] .state{
    background-position: right;
}

.node[state=DOWN] .state{
    background-position: left;
}

.node[state=DEGRADED] .state{
    background-position: -31;
}

.node[state=ATRISK] .state{
    background-position: -61;
}

.node line{
    stroke: black;
    stroke-width: 3px;
}

.node line.collapse{
    stroke: blue;
    stroke-width: 5px;
    stroke-dasharray: 5,10;
}